---
BasedOnStyle: LLVM
Language: Cpp
Standard: c++17
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
NamespaceIndentation: None
PointerAlignment: Left
ReferenceAlignment: Left
SpaceBeforeParens: ControlStatements
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
...
